@import url("styles/cabecalho.css");
@import url("styles/informacao.css");
@import url("styles/vagas.css");
@import url("styles/informacoes_vagas.css");
@import url("styles/depoimento.css");
@import url("styles/footer.css ");





@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');




:root {
    --branco: #ffffff;
    --cinza: #667085;
    --vermelho: #8b1d1d;
    --azul-escuro: #101828;
    --inter: 'Inter', sans-serif;
}